@import "./reset.css";

@import "./variable.css";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--background-purple);
  color: white;
  padding: 0 10vw;
}

input {
  border: none;
  outline: none;
  appearance: none;
}