
@import "https://fonts.googleapis.com/icon?family=Material+Icons";

@import "https://fonts.googleapis.com/icon?family=Material+Icons+Outlined";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

@import "./media-query.css";

@import "./reset.css";

@import "./variable.css";

@import "./navigation-bar.css";


* {
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--background-purple);
  color: white;
  padding: 0 10vw;
}

input {
  border: none;
  outline: none;
  appearance: none;
}

.display-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.position-relative {
  position: relative;
}